#mcq-question,
#rearrange-question,
#reading-question {
    display: none; 
    flex: 1;
    flex-direction: column;
    gap: 20px;
}
#question-number {
    font-size: 1.5em;
}
#question-text {
    text-align: left;
    font-size: 1.2em;
}
#question-img {
    height: 150px; /* Fixed height */
    overflow: hidden;
    text-align: center;
}
#question-img img {
    height: 100%;
    object-fit: cover;
}
#question-sound {
    text-align: center;
}
#question-sound .sound-button {
    width: 70px;
    height: 70px;
    padding: 10px;
    border-radius: 40px;
    font-size: 20px;
}
#question-caption {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    color: #33cc33;
}
.option {
    margin: 10px 0;
    padding: 20px;
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    border: 2px solid #ccc;
    border-radius: 5px;
}
.option-container_circle {
    margin: 60px auto;
    padding: 10px;
    width: 80%;
    min-width: 286px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; /* Prevent new line */
    justify-content: space-between; /* Distribute space */
}
.option-circle {
    font-size: 1.5em;
    text-align: center;
    cursor: pointer;
    border: 2px solid #ccc;
    padding: 7px 0px;
    width: 50px;
    border-radius: 32px;
    display: inline-block;
}
.correct {
    background-color: green;
    color: white;
}
.wrong {
    background-color: red;
    color: white;
}
.rearrange-sentence-holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.rearrange-word {
    padding: 10px;
    height: 30px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rearrange-word .text {
    font-size: 1.0em;
}
.rearrange-word .select-box {
    width: 50px;
    padding: 5px;
    font-size: 1.0em;
}
.correct-rearrange {
    border-color: green;
}
.wrong-rearrange {
    border-color: red;
}
.rearrange-answer-holder {
    padding: 20px;
    min-height: 60px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}
.reading-question-text {
    font-size: 1.3em;
    font-weight: bold;
}
.reading-question-option {
    display: block;
    font-size: 1.3em;
    line-height: 150%;
}
#next-button {
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 35px;
    border: 2px solid #9966ff;
    color: #9966ff;
    font-size: 26px;
    line-height: 100%;
    background-color: white;
    cursor: pointer;
}
#next-button:disabled {
    border-color: gray;
    color: gray;
    cursor: not-allowed;
}
#score {
    font-size: 2em;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}